## Reading and Writing Data in Text Format

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../datasets/Python For Data Analysis/CH6/ex1.csv")

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_csv("../datasets/Python For Data Analysis/CH6/ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv("../datasets/Python For Data Analysis/CH6/ex2.csv", names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names = ["a", "b", "c", "d", "message"]
pd.read_csv("../datasets/Python For Data Analysis/CH6/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
parsed = pd.read_csv("../datasets/Python For Data Analysis/CH6/csv_mindex.csv", index_col=["key1", "key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16