In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.559930
b   -2.025903
c    0.320490
d   -1.313040
e    0.955122
dtype: float64

In [3]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
pd.Series(np.random.randn(5))

0   -0.109765
1    1.031379
2    0.326404
3    0.341534
4   -1.425803
dtype: float64

In [5]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [6]:
d = {'a': 0.0, 'd': 1.0, 'c': 2.0}
pd.Series(d)

a    0.0
d    1.0
c    2.0
dtype: float64

In [7]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    NaN
c    2.0
d    1.0
a    0.0
dtype: float64

In [8]:
pd.Series(5.0, index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [9]:
s.iloc[0]

np.float64(-0.5599302545928001)

In [10]:
s.iloc[: 3]

a   -0.559930
b   -2.025903
c    0.320490
dtype: float64

In [12]:
s[s > s.median()]

c    0.320490
e    0.955122
dtype: float64

In [13]:
s.iloc[[4, 3, 1]]

e    0.955122
d   -1.313040
b   -2.025903
dtype: float64

In [14]:
np.exp(s)

a    0.571249
b    0.131875
c    1.377803
d    0.269001
e    2.598988
dtype: float64

In [15]:
s.dtype

dtype('float64')

In [16]:
s.array

<NumpyExtensionArray>
[-0.5599302545928001, -2.0259027414128434,   0.320490288356017,
  -1.313039540384845,  0.9551222754193922]
Length: 5, dtype: float64

In [17]:
s.to_numpy()

array([-0.55993025, -2.02590274,  0.32049029, -1.31303954,  0.95512228])

In [18]:
s["a"]

np.float64(-0.5599302545928001)

In [19]:
s

a   -0.559930
b   -2.025903
c    0.320490
d   -1.313040
e    0.955122
dtype: float64

In [20]:
s["e"] = 12

In [21]:
s

a    -0.559930
b    -2.025903
c     0.320490
d    -1.313040
e    12.000000
dtype: float64

In [22]:
"e" in s

True

In [24]:
"r" in s

False

In [26]:
s["r"]

KeyError: 'r'

In [27]:
s.get("r")

In [28]:
s.get("r", np.nan)

nan

In [29]:
s + s

a    -1.119861
b    -4.051805
c     0.640981
d    -2.626079
e    24.000000
dtype: float64

In [30]:
s * 2

a    -1.119861
b    -4.051805
c     0.640981
d    -2.626079
e    24.000000
dtype: float64

In [31]:
np.exp(s)

a         0.571249
b         0.131875
c         1.377803
d         0.269001
e    162754.791419
dtype: float64

In [32]:
s.iloc[1:]

b    -2.025903
c     0.320490
d    -1.313040
e    12.000000
dtype: float64

In [37]:
s.iloc[:-1]

a   -0.559930
b   -2.025903
c    0.320490
d   -1.313040
dtype: float64

In [38]:
s.iloc[1:] + s.iloc[:-1]

a         NaN
b   -4.051805
c    0.640981
d   -2.626079
e         NaN
dtype: float64

name attribute

In [39]:
s = pd.Series(np.random.randn(5), name="something")

In [40]:
s

0    1.901009
1    0.919962
2    1.294771
3    0.470051
4    0.821214
Name: something, dtype: float64

In [41]:
s.name

'something'

In [42]:
s

0    1.901009
1    0.919962
2    1.294771
3    0.470051
4    0.821214
Name: something, dtype: float64

In [43]:
s.rename("different")

0    1.901009
1    0.919962
2    1.294771
3    0.470051
4    0.821214
Name: different, dtype: float64

In [44]:
s

0    1.901009
1    0.919962
2    1.294771
3    0.470051
4    0.821214
Name: something, dtype: float64

dataframe

In [48]:
d = {
    "one": pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    "two": pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
}

In [49]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [50]:
df = pd.DataFrame(d)

In [51]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [52]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [53]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [54]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [55]:
df.columns

Index(['one', 'two'], dtype='object')

In [60]:
d = {"one": [1, 2, 3, 4], "two": [4, 3., 2, 1]}

In [61]:
pd.DataFrame(d)

   one  two
0    1  4.0
1    2  3.0
2    3  2.0
3    4  1.0

In [62]:
pd.DataFrame(d).dtypes

one      int64
two    float64
dtype: object

In [63]:
pd.DataFrame(d, index=["a", "b", "c", "d"])

   one  two
a    1  4.0
b    2  3.0
c    3  2.0
d    4  1.0

In [71]:
data = np.zeros((2, ), dtype=[("A", "i4"), ("B", "f4"), ("C", "S10")])

In [72]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [73]:
pd.DataFrame(data)

   A    B    C
0  0  0.0  b''
1  0  0.0  b''

In [74]:
pd.DataFrame(data, index=["first", "second"])

        A    B    C
first   0  0.0  b''
second  0  0.0  b''

In [75]:
pd.DataFrame(data, columns=["C", "B", "A"])

     C    B  A
0  b''  0.0  0
1  b''  0.0  0

In [76]:
data2 = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [78]:
pd.DataFrame(data2, index=["first", "second"])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [79]:
pd.DataFrame(data2, columns=["a", "b"])

   a   b
0  1   2
1  5  10

In [80]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [81]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("C", "A"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  NaN   NaN
C A  NaN  NaN  NaN  7.0   NaN
A D  NaN  NaN  NaN  NaN   9.0